{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'icons/logo_simples_cinza.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horários</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .tooltip {
        max-width: none;
        font-size: 1rem; /* Tamanho de fonte maior para melhor legibilidade */
    }

    .tooltip-inner {
        background-color: #6c757d; /* Cor de fundo secundária do Bootstrap */
        color: #fff; /* Cor do texto */
        font-weight: bold; /* Texto em negrito para melhor legibilidade */
    }
</style>


{% load custom_filters %}
<body class="d-flex flex-column min-vh-100">
    
    <!-- Header, a navegação-->
    <header class="d-flex justify-content-center py-2">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar" href="https://mariaperegrina.org.br" target="_blank">
                <img src="{% static '/icons/logo.png' %}" width="75"  alt="Logo da Escola Maria Peregrina" class="d-inline-block align-top" >
            </a>   

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>        
    
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'create_systems' %}" class="nav-link">Cadastrar Aula</a></li>
                    <li class="nav-item"><a href="{% url 'create_varios_sistemas' %}" class="nav-link">Cadastrar Aulas Semanais</a></li>
                    <li class="nav-item"><a href="{% url 'ultimas_aulas_view' %}" class="nav-link">Histórico de Aulas Criadas</a></li>
                    <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link text-success">Admin Completo</a></li>
                    <li class="nav-item"><a href="{% url 'horarios_view' %}" class="nav-link text-primary">Vizualização de Usuário</a></li>
                </ul>
            </div>
        </nav>
    </header>

{% block content %}
{% endblock %}


  </div>
</body>  

</html>