{% extends 'base.html' %}

{% block content %}
<main class="container flex-grow-1">
    <div class="col-10 mx-auto my-4">
        <div class="col-10 mx-auto">
            <p class="mb-3">Pesquisar por nome do aluno:</p>
            <form method="GET" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Digite o nome do aluno..." name="termo_pesquisa" value="{{ termo_pesquisa }}">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </form>
            
            {% if termo_pesquisa %}
                {% if alunos %}
                    <div class="alert alert-success" role="alert">
                        O aluno "{{ alunos.first.nome }}" foi encontrado.
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Nenhum aluno encontrado com o nome "{{ termo_pesquisa }}".
                    </div>
                {% endif %}
            {% endif %}
            
            <table class="table table-bordered w-100">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Turmas</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                        <tr>
                            <td>{{ aluno.nome }}</td>
                            <td>{{ aluno.turmas.all|join:", " }}</td>
                            <td>{{ aluno.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
