{% extends 'base_admin.html' %}

{% block content %}
<main class="container flex-grow-1">
    <div class="col-10 mx-auto my-4">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">Últimas Aulas Criadas</h1>
                <ul class="list-group">
                    {% for aula in ultimas_aulas %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Nome:</strong> {{ aula.nome }} <br>
                                <strong>Professor:</strong> {{ aula.professor.nome }} <br>
                                <strong>Turma:</strong> {{ aula.turma.nome }} <br>
                                <strong>Dia:</strong> {{ aula.dia_semana.nome }} <br>
                                <strong>Hora:</strong> {{ aula.hora }} <br>
                                <strong>Criado Por:</strong> {{ aula.criado_por.username }} <br> {# Exibe o nome de usuário do criador #}
                                <strong>Criado Em:</strong> {{ aula.data_criacao|date:"d/m/Y H:i:s" }} <br> {# Exibe a data de criação formatada #}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
